<section class="py-3">
  <h1 class="section-title">Public activities preview</h1>
  <p>Discover sample activities available in your area.</p>
</section>

<div class="col-12">
  <% @activities.each do |activity| %>
    <%= link_to activity_path(activity), class: "text-decoration-none" do %>
      <div class="custom--card">
        <div class="pb-2 px-2">
          <h4 class="my-1 mt-2 mb-0 section-title"><%= activity.name %></h4>
          <h5 class="pb-0 mt-1"><%= activity.category.name %></h5>
          <h6 class="pb-0 mt-1"><%= activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></h6>
          <h6 class="mt-1"><%= activity.address.to_s.split(',').first %></h6>
          <p class="mb-2"><%= truncate(activity.description, length: 120) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="mt-3">
  <%= link_to "Create or Join activities", new_user_registration_path, class: "btn btn-primary" %>
</div>
